tools/province_automapper/*.ini
/gfx/interface/icons/building_types/icon_building_barracks.dds
/gfx/interface/icons/building_types/icon_building_blacksmiths.dds
/gfx/interface/icons/building_types/icon_building_camel_farms.dds
/gfx/interface/icons/building_types/icon_building_cereal_fields.dds
/gfx/interface/icons/building_types/icon_building_curtain_walls.dds
/gfx/interface/icons/building_types/icon_building_elephant_pens.dds
/gfx/interface/icons/building_types/icon_building_farm_estates.dds
/gfx/interface/icons/building_types/icon_building_generic_house.dds
/gfx/interface/icons/building_types/icon_building_guild_halls.dds
/gfx/interface/icons/building_types/icon_building_hall_of_heroes.dds
/gfx/interface/icons/building_types/icon_building_hill_farms.dds
/gfx/interface/icons/building_types/icon_building_hill_forts.dds
/gfx/interface/icons/building_types/icon_building_hunting_grounds.dds
/gfx/interface/icons/building_types/icon_building_jousting_lists.dds
/gfx/interface/icons/building_types/icon_building_leisure_palace.dds
/gfx/interface/icons/building_types/icon_building_library.dds
/gfx/interface/icons/building_types/icon_building_logging_camps.dds
/gfx/interface/icons/building_types/icon_building_longhouses.dds
/gfx/interface/icons/building_types/icon_building_march.dds
/gfx/interface/icons/building_types/icon_building_market_villages.dds
/gfx/interface/icons/building_types/icon_building_military_academy.dds
/gfx/interface/icons/building_types/icon_building_military_camps.dds
/gfx/interface/icons/building_types/icon_building_monastic_schools.dds
/gfx/interface/icons/building_types/icon_building_orchards.dds
/gfx/interface/icons/building_types/icon_building_outposts.dds
/gfx/interface/icons/building_types/icon_building_palisades.dds
/gfx/interface/icons/building_types/icon_building_pastures.dds
/gfx/interface/icons/building_types/icon_building_peat_quarries.dds
/gfx/interface/icons/building_types/icon_building_plantations.dds
/gfx/interface/icons/building_types/icon_building_quarries.dds
/gfx/interface/icons/building_types/icon_building_ramparts.dds
/gfx/interface/icons/building_types/icon_building_regimental_grounds.dds
/gfx/interface/icons/building_types/icon_building_royal_armory.dds
/gfx/interface/icons/building_types/icon_building_royal_forest.dds
/gfx/interface/icons/building_types/icon_building_royal_hunting_grounds.dds
/gfx/interface/icons/building_types/icon_building_siege_works.dds
/gfx/interface/icons/building_types/icon_building_tax_assessor.dds
/gfx/interface/icons/building_types/icon_building_tradeport.dds
/gfx/interface/icons/building_types/icon_building_university.dds
/gfx/interface/icons/building_types/icon_building_warcamps.dds
/gfx/interface/icons/building_types/icon_building_watchtowers.dds
/gfx/interface/icons/building_types/icon_structure_al-azhar_university.dds
/gfx/interface/icons/building_types/icon_structure_alhambra.dds
/gfx/interface/icons/building_types/icon_structure_aurelian_walls.dds
/gfx/interface/icons/building_types/icon_structure_brihadeeswarar_temple.dds
/gfx/interface/icons/building_types/icon_structure_buddhas_of_bamiyan.dds
/gfx/interface/icons/building_types/icon_structure_canterbury_cathedral.dds
/gfx/interface/icons/building_types/icon_structure_cathedral_indian.dds
/gfx/interface/icons/building_types/icon_structure_cathedral_muslim.dds
/gfx/interface/icons/building_types/icon_structure_cathedral_pagan.dds
/gfx/interface/icons/building_types/icon_structure_cathedral_zoroastric.dds
/gfx/interface/icons/building_types/icon_structure_cologne_cathedral.dds
/gfx/interface/icons/building_types/icon_structure_colosseum.dds
/gfx/interface/icons/building_types/icon_structure_doges_palace.dds
/gfx/interface/icons/building_types/icon_structure_dome_of_the_rock.dds
/gfx/interface/icons/building_types/icon_structure_grand_library_of_baghdad.dds
/gfx/interface/icons/building_types/icon_structure_great_mosque_of_cordoba.dds
/gfx/interface/icons/building_types/icon_structure_great_mosque_of_djenne.dds
/gfx/interface/icons/building_types/icon_structure_great_mosque_of_mecca.dds
/gfx/interface/icons/building_types/icon_structure_great_mosque_of_samarra.dds
/gfx/interface/icons/building_types/icon_structure_hadrians_wall.dds
/gfx/interface/icons/building_types/icon_structure_hagia_sophia.dds
/gfx/interface/icons/building_types/icon_structure_imam_ali_mosque.dds
/gfx/interface/icons/building_types/icon_structure_iron_pillar_of_delhi.dds
/gfx/interface/icons/building_types/icon_structure_iron_pillar_of_dhar.dds
/gfx/interface/icons/building_types/icon_structure_khajuraho_temples.dds
/gfx/interface/icons/building_types/icon_structure_mahabodhi_temple.dds
/gfx/interface/icons/building_types/icon_structure_mines.dds
/gfx/interface/icons/building_types/icon_structure_nalanda.dds
/gfx/interface/icons/building_types/icon_structure_notre_dame.dds
/gfx/interface/icons/building_types/icon_structure_palace_of_achen.dds
/gfx/interface/icons/building_types/icon_structure_petra.dds
/gfx/interface/icons/building_types/icon_structure_shwedagon_pagoda.dds
/gfx/interface/icons/building_types/icon_structure_stonehenge.dds
/gfx/interface/icons/building_types/icon_structure_temple_in_jerusalem.dds
/gfx/interface/icons/building_types/icon_structure_the_citadel_of_aleppo.dds
/gfx/interface/icons/building_types/icon_structure_the_friday_mosque.dds
/gfx/interface/icons/building_types/icon_structure_the_pyramids.dds
/gfx/interface/icons/building_types/icon_structure_the_university_of_sankore.dds
/gfx/interface/icons/building_types/icon_structure_theodosian_walls.dds
/gfx/interface/icons/building_types/icon_structure_tower_of_london.dds
/gfx/interface/icons/building_types/icon_structure_university_of_siena.dds
/gfx/interface/icons/building_types/icon_structure_visby_ringmur.dds
/gfx/interface/icons/building_types/icon_structure_walls_of_benin.dds
/gfx/interface/icons/building_types/icon_structure_walls_of_genoa.dds

/0tools/spell adder/settings.txt
/0tools/spell adder/log.txt

*.pyc
0godherja (dev).mod
